<section class="education-section">
  <h2 class="section-title">My Education</h2>

  <div class="education-wrapper" #scrollContainer>
    <div class="education-container">
      <!-- Bachelor -->
      <div class="education-card">
        <h3>Bachelor</h3>
        <h4>Daffodil International University</h4>
        <h4>Department: Computer Science and Engineering</h4>
        <h4>Result: A</h4>
        <img
          src="https://scontent.fdac154-1.fna.fbcdn.net/v/t39.30808-1/242257019_10158695302027203_6143676823452415142_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=1&ccb=1-7&_nc_sid=2d3e12&_nc_eui2=AeEjtRZFNFP-LSYgoUTR0Iv1_EobJss2eiH8ShsmyzZ6IeqL7jtJ-_Z7kKwDQw9vio_bhx5efWHNfPxJed46f5Z9&_nc_ohc=KK0Xx7uG3DAQ7kNvwEC9uhH&_nc_oc=AdkoVCNGk4qY5gbMUP3jppE-dkH-B_yIu0mdc-GjUD2vtkOag2iKjmiSMvATrjxf26Q&_nc_zt=24&_nc_ht=scontent.fdac154-1.fna&_nc_gid=YvhXIG_QNEI6ojN3HftU1Q&oh=00_AfYFsBJxWZhXdSePMHwv-tM7T96zuVyK2Vtg4AIQaU5vbw&oe=68C880BD"
          alt="Bachelor"
        />
      </div>

      <!-- HSC -->
      <div class="education-card">
        <h3>HSC</h3>
        <h4>Jhawgora Government College,Jamalpur</h4>
        <h4>Department: Science</h4>
        <h4>Result: A</h4>
        <img
          src="https://scontent.fdac154-1.fna.fbcdn.net/v/t39.30808-1/502414229_1085305190192504_5499320652965709510_n.jpg?stp=c10.0.683.683a_dst-jpg_s200x200_tt6&_nc_cat=103&ccb=1-7&_nc_sid=2d3e12&_nc_eui2=AeE9Ypji_1H1w9t3eX7LkDth-WYFerr674r5ZgV6uvrviouoCE8zNZoJbvio8nVfn5SY7G_M5Z430Z9lCk3GJa2Y&_nc_ohc=BHcvdiZ3HOYQ7kNvwFJG3Zw&_nc_oc=AdleFdIU8rAY8ZmpyPp-LhJ5dB0-VI2BERh8NRwvRt6uvg59pgpBVo_jdtaaz5WhbtE&_nc_zt=24&_nc_ht=scontent.fdac154-1.fna&_nc_gid=XBP2QpH03yur6u1DVjoCUw&oh=00_AfaYFIzXwPv-A9PPvXFytt3vNW4OtDAmtgyukYOrNLUluA&oe=68C85897"
          alt="HSC"
        />
      </div>

      <!-- SSC -->
      <div class="education-card">
        <h3>SSC</h3>
        <h4>Jhawgora High School,Jamalpur</h4>
        <h4>Department: Science</h4>
        <h4>Result: A+</h4>
        <img
          src="https://scontent.fdac154-1.fna.fbcdn.net/v/t39.30808-6/356224674_2005884546418211_5191356298715465206_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=2285d6&_nc_eui2=AeHWGsL7A-djd7MGhG-0dPt1XPu2-JPIrW9c-7b4k8itb1S0jEKl2UHkzAU6HDFnmyInJKGBqsQCTDQeebDKas6T&_nc_ohc=Qo3PGI6I7CUQ7kNvwGFgnLb&_nc_oc=AdkFusOTJ96t1JYrJBlLNphHy4mErnSOA4DiDgDOAkkf4vYEwDtiMEX6gM4ULa81TEU&_nc_zt=23&_nc_ht=scontent.fdac154-1.fna&_nc_gid=-T8rVMXWo4B7EZADUynJWg&oh=00_AfaV7e12xrbuNZdAQ10xvFrnmmikJt6otBrYYrryi1W2QA&oe=68C867FF"alt="SSC"
        />
      </div>

      <!-- JSC -->
      <!-- <div class="education-card">
        <h3>JSC</h3>
        <h4>Hashil School & College,Jamalpur</h4>
        <h4>Department: None</h4>
        <h4>Result: A+</h4>
        <img
          src="https://scontent.fdac154-1.fna.fbcdn.net/v/t39.30808-1/306119148_595441572287990_8537139096841758839_n.jpg?stp=c90.0.540.540a_dst-jpg_s200x200_tt6&_nc_cat=103&ccb=1-7&_nc_sid=2d3e12&_nc_eui2=AeFhUFw96UZidFU6csMX7kaBUVnTcvPH2DRRWdNy88fYNIsnoFhQnJNZ_qY4Y9ioFTbSsVsbXv-cSyj369C3vMad&_nc_ohc=GYnvqaPyzFwQ7kNvwEjBruu&_nc_oc=Adk_t6OP8JrJOrDI8Y6KKt0kCX8UMGPiZ7OEcUhhyHy_OKa9Y9mmHboDGoNTn8vvsYY&_nc_zt=24&_nc_ht=scontent.fdac154-1.fna&_nc_gid=ETJwSERwkfpsiSDIkCCA3w&oh=00_AfZoB4doYQKBbPhZUl_hh1VxapeJrfArPUKKdyR5krPvOg&oe=68C8549E"
          alt="JSC"
        />
      </div> -->
    </div>
  </div>
</section>
