<section class="image-section">
  <h1 #animatedElement>Certifications</h1>
  <p #animatedElement class="section-subtitle">
    Here are some of the certifications I have achieved to enhance my skills.
  </p>

  <div class="image-container">
    <div class="image-card" #animatedElement>
      <img src="https://scontent.fdac138-2.fna.fbcdn.net/v/t39.30808-6/495377264_3554041848225705_8818357019073534564_n.jpg?stp=dst-jpg_s720x720_tt6&_nc_cat=101&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFB11W93LcYCRxOmMYKKtci7onS1Xh50NTuidLVeHnQ1DLeqh0aOZtyKZP5Dy7a3UHXToQXQQqYZV5IBjQY4wu7&_nc_ohc=cRAL8Im12BMQ7kNvwFaCY7r&_nc_oc=Adnj9wJm_ldCbw1be_dqfa_BNXkTJ8pRzV9FkUpQfuZf_DWMQtrHGexkThzipY2sWao&_nc_zt=23&_nc_ht=scontent.fdac138-2.fna&_nc_gid=4wzf7FI5nl2XzYxlukWo3A&oh=00_AfZUHHFS2U7kYMwieSs27B0mDvz8F6ACW1aPYxQS9F4Ghg&oe=68CB845A" alt="Certification 1">
    </div>
    <div class="image-card" #animatedElement>
      <img src="https://scontent.fdac138-1.fna.fbcdn.net/v/t39.30808-6/495163179_3553805114916045_9147980953776053203_n.jpg?stp=dst-jpg_s720x720_tt6&_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeEP0ThiBDWatUshB1QUli0N6MXQHoyy7fjoxdAejLLt-H3koBGuJ0fK6GNcQmK_mwmfjkrJxFPlhmQ-9LMnwXj9&_nc_ohc=UXQjbSdpPhEQ7kNvwGBqiqa&_nc_oc=Adn6eqFyb4LU7wiSdbHxkb122JhnjZ-2H_saUffCUwW97urNGbjPb13pRnmgMxW2dBE&_nc_zt=23&_nc_ht=scontent.fdac138-1.fna&_nc_gid=Zn8L5lFV2abuYhEMHQZkVA&oh=00_AfYcTsYMeZ_vKy_wS4YAaWyzTNnm3kqCsZJKHOyiKR_P1g&oe=68CB7BFB" alt="Certification 2">
    </div>
  </div>
</section>