<section class="about-section">
  <h1 class="section-title fade-in">About Me</h1>
  
  <div class="about-content fade-in">
    <div class="about-image">
      <img src="https://scontent.fdac154-1.fna.fbcdn.net/v/t39.30808-6/476284922_3480101545619736_4577206900404260949_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a5f93a&_nc_eui2=AeGjwZPyryTfn5fGwWZMTB7YUYiAs9J_GZJRiICz0n8ZkigLLX--hl4Vl-6XYHR9hlQmZ0QgG3rC7EJbD9IxWiDN&_nc_ohc=6y9MKY8taOEQ7kNvwFutpJ9&_nc_oc=AdlPwmx-8JnaEY1KlwF-J9Jimi3K9heMvSdD1TiEEmkMYCr_xoEakA_vGWgjk8eKLPc&_nc_zt=23&_nc_ht=scontent.fdac154-1.fna&_nc_gid=PymtkMmKIvVmvRwdEbzWhQ&oh=00_AfY3TCDmGtG-NCcIcWbiauxD6i8ad_l9WQ2CfnKxfhogdQ&oe=68C47FF2" 
           alt="Sheikh Forid Ahmed Shanto">
    </div>

    <div class="about-text">
      <h2>Sheikh Forid Ahmed Shanto</h2>
      <p style="text-align: justify;">
        My name is Sheikh Forid Ahmed Shanto. I'm a passionate programmer who wants to start my career as a software
        engineer with a strong focus on backend and full-stack development. My goal is to continually enhance my
        technical expertise and problem-solving skills while contributing to innovative projects. I seek to take on
        greater responsibilities, work collaboratively within a team, and deliver high-quality solutions.
      </p>
      <button type="button" routerLink="/contact">Contact</button>
    </div>
  </div>
</section>
