<section class="about-section">
  <h1 class="section-title fade-in">About Me</h1>
  
  <div class="about-content fade-in">
    <div class="about-image">
      <img src="https://scontent.fdac154-1.fna.fbcdn.net/v/t39.30808-6/500653647_3573787406251149_6948109279368130541_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=110&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeH9eFlohHnMm6XsmVINRfJ-3sZwse_crOvexnCx79ys62yszVmZaM7xKCRD9jvEt37FQjuVpxPsBOSl8y_9W6c1&_nc_ohc=O6CrnmKlGNAQ7kNvwF6wUi1&_nc_oc=AdmYdlpweP8y9hFBi7P4MVIW9Xl1fQyqMuTNCy24baVP26-D2z-GPRcjauaxnX08c8k&_nc_zt=23&_nc_ht=scontent.fdac154-1.fna&_nc_gid=V_aQpQv_yjfWsBDFZOw5EA&oh=00_AfZ2eqwWvqcLqHmIe18v1ahNOMJweu8y6jU6YDKDrPVztw&oe=68C5862C" 
           alt="Sheikh Forid Ahmed Shanto">
    </div>

    <div class="about-text">
      <h2>Sheikh Forid Ahmed Shanto</h2>
      <p style="text-align: justify;">
        My name is Sheikh Forid Ahmed Shanto. I'm a passionate programmer who wants to start my career as a software
        engineer with a strong focus on backend and full-stack development. My goal is to continually enhance my
        technical expertise and problem-solving skills while contributing to innovative projects. I seek to take on
        greater responsibilities, work collaboratively within a team, and deliver high-quality solutions.
      </p>
      <button type="button" routerLink="/contact">Contact</button>
    </div>
  </div>
</section>
