<section class="about-section">
  <h1 class="section-title fade-in">About Me</h1>
  
  <div class="about-content fade-in">
    <div class="about-image">
      <img src="https://portfolio-zv7e.onrender.com/static/images/dog.png" 
           alt="Sheikh Forid Ahmed Shanto">
    </div>

    <div class="about-text">
      <h2>Sheikh Forid Ahmed Shanto</h2>
      <p style="text-align: justify;">
        My name is Sheikh Forid Ahmed Shanto. I'm a passionate programmer who wants to start my career as a software
        engineer with a strong focus on backend and full-stack development. My goal is to continually enhance my
        technical expertise and problem-solving skills while contributing to innovative projects. I seek to take on
        greater responsibilities, work collaboratively within a team, and deliver high-quality solutions.
      </p>
      <button type="button"><a href="#contact" style="text-decoration: none; color: white;">Contact</a></button>
    </div>
  </div>
</section>
