<section class="image-section">
  <!-- H1 -->
  <h1 #animatedElement class="animated-element">Competitive Programming</h1>

  <div class="image-container">
    <div #animatedElement class="image-card animated-element">
      <h4>CodeChef</h4>
      <img src="https://cdn.codechef.com/images/cc-logo.svg" alt="CodeChef">
      <button type="button"><a href="https://www.codechef.com/users/sanvi_201" target="_blank">View Details</a></button>
    </div>

    <div #animatedElement class="image-card animated-element">
      <h4>CodeForces</h4>
      <img src="https://codeforces.org/s/99545/images/codeforces-sponsored-by-ton.png" alt="CodeForces">
      <button type="button"><a href="https://codeforces.com/profile/sheikh15-3700" target="_blank">View Details</a></button>
    </div>

    <div #animatedElement class="image-card animated-element">
      <h4>LeetCode</h4>
      <img src="https://ih1.redbubble.net/image.4319755134.8119/raf,360x360,075,t,fafafa:ca443f4786.jpg" alt="LeetCode">
      <button type="button"><a href="https://leetcode.com/u/sheikh15-3700/" target="_blank">View Details</a></button>
    </div>
  </div>
</section>