<nav class="navbar">
  <div class="nav-container">
    <div class="logo">
      <a href="#home">Portfolio</a>
    </div>

    <ul [class.active]="menuOpen" class="nav-links">
      <li><a href="#home" (click)="toggleMenu()">Home</a></li>
      <li><a href="#about" (click)="toggleMenu()">About</a></li>
      <li><a href="#education" (click)="toggleMenu()">Eduction</a></li>
      <li><a href="#skill" (click)="toggleMenu()">Skills</a></li>
      <li><a href="#code" (click)="toggleMenu()">CP Journey</a></li>
      <li><a href="#certification" (click)="toggleMenu()">Certifications</a></li>
      <li><a href="#project" (click)="toggleMenu()">Projects</a></li>
      <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
    </ul>

    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>