<div class="app-wrapper">
  <app-nav></app-nav>
  <main class="main-content">
    <section id="home" class="reveal">
      <app-home></app-home>
    </section>

    <section id="about" class="reveal">
      <app-about></app-about>
    </section>

    <section id="education" class="reveal">
      <app-education></app-education>
    </section>


    <br><br><br>
    <section id="skill" class="reveal">
      <app-skill></app-skill>
    </section>


    
    <br><br><br>
    <section id="certification" class="reveal">
      <app-certification></app-certification>
    </section>


    <br><br><br>
     <section id="code" class="reveal">
      <app-coding></app-coding>
    </section>

    <br><br><br>
    <section id="project" class="reveal">
      <app-project></app-project>
    </section>

    <section id="contact" class="reveal">
      <app-contact></app-contact>
    </section>
  </main>
  <br>
  <section id="contact" class="reveal">
    <app-footer></app-footer>
  </section>

</div>