<section class="intro-section">
  <div class="intro-text fade-in">
    <h1 style="margin-bottom: 28px;">Hi, I'm</h1>
    <h3 class="typewriter-name" style="color: rgb(161, 42, 42);">{{ typedText }}</h3>
    <a href="https://drive.google.com/file/d/1T7tBQQWPcnC-KHFoY2IJ5foi_TqtXGkY/view?usp=sharing" target="_blank"
      class="resume-btn" style="margin-top: 50px;">See Resume</a>
  </div>

  <div class="intro-image fade-in">
    <img
      src="https://scontent.fdac138-1.fna.fbcdn.net/v/t39.30808-6/432579277_3241125769517316_3571645618552241712_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEzF-ifF5WMcziYJlSYj9Zg0fdJxJiDhYLR90nEmIOFghWK8ODvLxHblxYsJ-JG47ZBK4iqAQLhDrQGhU8noq6v&_nc_ohc=uh86uZXDwS8Q7kNvwEAnXCH&_nc_oc=Adlbu7gQUFM-gDwbU3v53X6_P2I9YaH10LDxHmtde8mcqgD1BskkD1mjwY7Jgp1SNGI&_nc_zt=23&_nc_ht=scontent.fdac138-1.fna&_nc_gid=rq9u66YYTHCIHGg2KkiDSw&oh=00_AfYS56FKhj0cKp3w5ogSIxK1fETuao-HHwPsbL4C5PQw6A&oe=68CB5654"
      alt="Profile Picture">
  </div>
</section>