<section class="intro-section">
  <div class="intro-text fade-in">
    <h2 style="margin-bottom: 28px;">Hi, I'm</h2>
    <h3 class="typewriter-name" style="color: rgb(161, 42, 42);">{{ typedText }}</h3>
    <a href="https://drive.google.com/file/d/1nGeWjO5IEXDPPQQnu2sDBQ9B6i1VytUP/view?usp=sharing" target="_blank" class="resume-btn" style="margin-top: 50px;">See Resume</a>
  </div>

  <div class="intro-image fade-in">
    <img src="https://scontent.fdac154-1.fna.fbcdn.net/v/t39.30808-6/432579277_3241125769517316_3571645618552241712_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeEzF-ifF5WMcziYJlSYj9Zg0fdJxJiDhYLR90nEmIOFghWK8ODvLxHblxYsJ-JG47ZBK4iqAQLhDrQGhU8noq6v&_nc_ohc=87utZD840zAQ7kNvwGits2S&_nc_oc=Adl1qCdauaytEUo8h8QBFuhvVx9Gww7CCITvg0wfzVv0AkUUHRh0VfGqjAjJrarHV8A&_nc_zt=23&_nc_ht=scontent.fdac154-1.fna&_nc_gid=_C9ALy9WnULS2-QWQTW7lA&oh=00_AfbxFyByNTK7DlfP--X1k1syp505caY1avQ6WzT9VcMqUQ&oe=68C48694" alt="Profile Picture">
  </div>
</section>
